h1 {
    font-size: medium;
    font-family: 'Poppins', sans-serif;
}

.poz {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    padding-left: 50px;
    padding-bottom: 35px;
}

div.polaroid {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

div.container {
    padding: 5px;
}

.flex-container {
    display: flex;
    background-color: DodgerBlue;
}

.flex-container>div {
    background-color: #f1f1f1;
    margin: 30px;
    padding: 20px;
    font-size: 18px;
}

.bzn {
    float: right;
}