<div class="homepage">
    <!-- INTRO -->
    <!-- Page Content-->
    <div class="container px-4 px-lg-5" style="font-family: 'Yu Gothic UI Semibold'">
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-0">
            <pre>   </pre>
            <div class="col-lg-6">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/orh2.png" alt="..." />
            </div>
            <div class="col-lg-6">
                <h1 class="font-weight-light">Loving the Flowers</h1>
                <p> Designing and selling innovative, high quality fresh flower arrangements using a variety of design
                    styles, flowers, and containers.
                    The flower shop's purpose is to provide our customers with quality flowers and floral arrangements
                    at a fair price.
                    It’s the perfect way to send your message in style and with a personal touch.
                </p>
                <a class="btn btn" style="background-color:violet;" href="#!" routerLink="/offer"
                    routerLinkActive="active">Explore the offer</a>
            </div>
        </div>
        <!-- Call to Action -->
        <div class="card text-white bg-secondary my-5  text-center"
            style="border-color: #efc1f4; font-family: 'Edwardian Script ITC';">
            <div class="card-body" style="background-color: violet; border: 1px solid #efc1f4; border-radius: 5px; color: #efc1f4;
            box-shadow: 9px 7px 28px 11px rgb(230, 173, 223);">
                <p class="text-dark m-0" style="font-size:250%;">
                    Visit us and you will definitely come back. Go ahead, paint the landscape in color!
                </p>
            </div>
        </div>
    </div>
    <br>

    <!-- COURSES -->
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5" style="align-content: center; font-family: 'Yu Gothic UI Semibold'; margin: 5px;">
        <div class="col-md-4 mb-5">
            <div class="card h-100 align-items-center" style="background-color: #FAACD6;">
                <div class="card-body">
                    <h2 class="card-title">Bouquets</h2>
                    <p class="card-text">A simple bouquet of flowers from your garden makes a lovely centerpiece for
                        your table
                        or a nice hostess gift when you are a guest.
                    </p>
                </div>
                <div>
                    <img src="assets/buchet2.png" alt="">
                </div>

                <div class="card-footer">
                    <a class="btn btn-primary btn-sm" href="https://www.magnolia.ro/flori-online-buchete-de-flori/"
                        target="_blank">More Info</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100 align-items-center" style="background-color: #b3f8e9;">
                <div class="card-body">
                    <h2 class="card-title">Decorative Flowers</h2>
                    <p class="card-text">The color green represents growth, harmony, and balance. These uniquely colored
                        blooms are the envy of the flower world.</p>
                </div>

                <div>
                    <img src="assets/verzi1.png" alt="">
                </div>

                <div class="card-footer">
                    <a class="btn btn-primary btn-sm" href="https://bulbi-flori.ro/" target="_blank">More Info</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100 align-items-center" style="background-color: #baecf7;">
                <div class="card-body">
                    <h2 class="card-title">Flower Seeds</h2>
                    <p class="card-text">Our exclusive Seeds of Beauty features many varieties of beautiful flowers that
                        delight us with their wonderful scents.</p>
                </div>

                <div>
                    <img src="assets/seminte1.png" alt="">
                </div>

                <div class="card-footer">
                    <a class="btn btn-primary btn-sm" href="https://agrosel.ro/" target="_blank">More Info</a>
                </div>
            </div>
        </div>
    </div>



    <div class="text-white my-5 py-1 text-center homepage">
        <img class="img-fluid rounded mb-4 mb-lg-0" alt="" src="assets/deco2.png" width="110px" height="110px">
        <br><br><br>
        <video width="310" height="230" controls style="align-content: center;">
            <source src="assets/video.mp4" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="card-body py-0" id="youtube">
        <p class="text-white m-0" style="font-size: x-large; text-align: center; font-family: Lucida Handwriting;">
            <a href="https://www.youtube.com/watch?v=Y9RdO43Qvhg" target="_blank">
                <img class="img-fluid rounded mb-4 mb-lg-0" alt="" src="assets/youtubelogo.png" width="110px"
                    height="110px">
            </a>
        </p>
        <br>
        <h4>
            <a href="https://www.youtube.com/watch?v=Y9RdO43Qvhg" target="_blank"
                style="font-family: Rockwell Extra Bold;">
                Check YouTube for more information about how to take care of your flowers.
            </a>
        </h4>
        <br>
    </div>

    <!-- Footer-->
    <footer class="py-3 bg-primary">
        <div class="container px-4 px-lg-5">
            <p class="m-0 text-center text-white">&copy; 2023 - Aura's Website. All Rights Reserved. </p>
        </div>
    </footer>
</div>

